[2011-09-21 08:27] jeremeamia opened #2 "Complete docblocks on methods"

[2011-09-21 08:27] jeremeamia opened #3 "Add unit/integration tests"

[2011-09-21 08:27] jeremeamia opened #4 "Add README"

[2012-03-20 17:37] #4 closed, assigned to jeremeamia

[2012-03-20 23:04] #2 closed, assigned to jeremeamia

[2012-03-22 03:49] #3 closed, assigned to jeremeamia

[2013-05-25 23:36] jeremeamia opened #5 "Add more tests"
- [ ] Complete tests for `ClosureParser`.
- [ ] Test serialization of closure with 5.4 keywords like `callable`.
- [ ] Test serialization of closure that reference classes by name in the parameters or body.
- [ ] Test serialization of a closure that uses another closure.

[2013-05-25 23:48] jeremeamia opened #6 "Resolve magic constants before serialization"
Possible sources for data?
- `__LINE__` - From the AST (`$node->attribute('startLine')`)
- `__FILE__` - From `Reflection::getFileName()`
- `__DIR__` - From `dirname(Reflection::getFileName())`
- `__FUNCTION__` - Always `{closure}`
- `__CLASS__` - ???
- `__TRAIT__` - ???
- `__METHOD__` - ???
- `__NAMESPACE__` - From `Reflection::getNamespaceName()`

Will need to write another visitor to handle reso

[2013-06-14 07:20] #5 closed, assigned to nobody

[2013-06-14 07:20] #6 closed, assigned to nobody

[2013-10-08 03:57] crynobone opened #9 "Please use tagged release instead of "dev-master""
Some developer prefer to use `"minimum-stability": "stable"` on for ongoing project, however v1.0.0 depends on `"nikic/php-parser": "dev-master"` which disallow us to pull the latest v4.0.8 update which is just released. Please update to one of the available version https://github.com/nikic/PHP-Parser/releases and tag 1.0.1 to solve this.

[code]

Reference discussion: laravel/laravel#2094

[2013-10-09 04:20] #9 closed, assigned to nobody

[2014-01-14 03:37] jeremeamia opened #10 "SuperClosure v2.0-alpha1 Feedback"
I recently tagged [v2.0-alpha1](https://github.com/jeremeamia/super_closure/releases/tag/2.0-alpha1). Please read the release notes, check out the code, and let me know what you think. I'd love some feedback, suggestions, ideas, etc. Thanks.

[2014-01-20 19:52] Ceiu opened #14 "Magic invocation breaks pass by-ref"
When invoking the closure through the __invoke magic method, values which should be passed by-ref are, instead, passed by-value.

Test code:
[code]

Outputs:
[code]

Expected:
[code]

-----

Now, I'm not so sure about previous versions, but a patch I've applied to SerializableClosure.php that works for 5.4 is as follows:
[code]

Granted, this is pretty hacky (and limits the caller to "only" 10 by-

[2014-02-07 00:04] penoonan opened #15 "Composer update error - update dependencies?"
Hi - just got this error when running composer update on a project:

[Composer\DependencyResolver\SolverProblemsException]

[code]

  ...

  Potential causes:
- A typo in the package name
- The package is not available in a stable-enough version according to your minimum-stability setting
   see https://groups.google.com/d/topic/composer-dev/_g3ASeIFlrc/discussion for more details.

Have other peo

[2014-02-07 15:59] #15 closed, assigned to nobody

[2014-03-12 10:14] franzliedke opened #16 "Support __DIR__ etc."
The [Laravel documentation](http://laravel.com/docs/queues#queueing-closures) makes me think that having constants like `__DIR__` in a serialized closure will break things.

Do you think that we could build some magic around this?

[2014-03-12 15:03] #16 closed, assigned to nobody

[2014-07-04 11:04] TomBZombie opened #17 "a more flexible approach?"
I think a better way, using what you already have may be a custom serialize function.

Essentially it would just be a method you could call serialize($obj) and it would automagically replace any closure objects with a super_closure object.

 Here's a basic overview of how it might work but I'm not sure if this would prevent any issues:

[code]

[2014-07-04 11:32] TRPB opened #18 "Improving speed"
I was looking at the code and I think a better way to improve the speed by avoiding most reflection

Once you have the code for the closure as a string e.g.

[code]

You should rewrite it with preg_replace to:

[code]

Then you can recreate a closure object using:

[code]

then you can just call $func() as if it were the original closure rather than using a reflection object. This way, you only ne

[2014-07-04 11:42] #18 closed, assigned to nobody

[2014-07-11 18:37] andheiberg opened #19 "Serilization error"
Hi,

I'm using Laravel and trying to send an email with Mail::queue.

Here's my code

[code]

Underneath this uses super_closure to serialize the closure.

But when Laravel tries to json_encode the returned serialized closure it fails with.

http://cl.ly/image/3p29212k2M0k

So I tried to figure out what was wrong with the UTF-8. So I used `iconv -f UTF-8 input.txt -o output.txt`, which gave me:

[

[2014-07-11 19:50] #19 closed, assigned to nobody

[2014-09-02 21:48] llaski opened #23 ""Undefined Variable Error" thrown for used variables whose value are null"
I am curious as to why `isset` is being used on line 153 of the closure parser where the `getUsedVariables` method is called, as opposed to `array_key_exists`. The effect is that used variables whose value are `null` are not passed through which becomes an issue during the unserialization process, since they can not be found. An undefined variable error is thrown instead.

https://github.com/jerem

[2015-01-10 01:09] #23 closed

[2015-01-12 19:53] GrahamCampbell opened #29 "1.x Is Not A Good Branch Name"
`1.x` means packagist is treating this as `1-dev`. Surely you want this to be treated as `1.0-dev`, so you need to name the branch `1.0.`.

[2015-01-12 19:54] GrahamCampbell commented on #29
Also, I'd recommend either renaming `v2` to `2.0`, or renaming it to `master`, and adding a branch alias.

[2015-01-12 19:55] jeremeamia commented on #29
Ah, good point. Will fix.

[2015-01-12 19:55] #29 closed

[2015-01-12 20:03] GrahamCampbell commented on #29
Also, the `old` branch should be named `0.8`. :)

[2015-01-12 20:14] GrahamCampbell opened #30 "Tag A Final 1.0 Release?"
Is it worth tagging 1.0.2 soonish?

[2015-01-12 20:35] GrahamCampbell commented on #29
You forgot to delete the `old` branch btw. :)

[2015-01-12 20:37] jeremeamia commented on #10
The master branch now contains a new iteration on what I had with this branch.

[2015-01-12 20:37] #10 closed

[2015-01-12 20:37] jeremeamia commented on #30
Done: [1.0.2](https://github.com/jeremeamia/super_closure/releases/tag/1.0.2)

[2015-01-12 20:37] #30 closed

[2015-01-12 20:38] GrahamCampbell commented on #30
:+1:

[2015-01-12 20:42] GrahamCampbell commented on #29
Also, packagist is crap at dealing with branches: https://packagist.org/packages/jeremeamia/SuperClosure. You're going to need to manually delete the old branches from there. :/

[2015-01-19 21:09] GrahamCampbell opened #34 "2.0 Is Broken?"
![image](https://cloud.githubusercontent.com/assets/2829600/5807888/68c2fc1e-a01f-11e4-92b2-38afe6b8c6df.png)

This results in php saying serialization of a closure is not allowed.

[2015-01-19 21:14] GrahamCampbell commented on #34
Related: https://github.com/laravel/framework/pull/7049.

[2015-01-19 23:24] jeremeamia commented on #34
composer update? It working for me.

[2015-01-19 23:29] GrahamCampbell commented on #34
Is your packagist hook working? Travis seems very confused. https://travis-ci.org/laravel/framework/jobs/47571123. It's trying to load an old commit.

[2015-01-19 23:32] GrahamCampbell commented on #34
https://packagist.org/packages/jeremeamia/SuperClosure

[2015-01-19 23:33] GrahamCampbell commented on #34
Yep - that's the issue. You need to delete all the old branches from github and then delete them from packagist too. They hit force update.

[2015-01-19 23:39] GrahamCampbell commented on #34
The "old" branch still needs removing from github, and "2.x-dev" and "old-dev" from packagist.

[2015-01-19 23:39] GrahamCampbell commented on #34
And "1.x-dev" needs removing too actually.

[2015-01-19 23:44] jeremeamia commented on #34
How about now?

[2015-01-19 23:51] GrahamCampbell commented on #34
Yeh. All working. https://travis-ci.org/laravel/framework/builds/47586571. Thanks. :)

[2015-01-19 23:51] #34 closed

[2015-01-19 23:52] GrahamCampbell commented on #34
Is it time for `v2.0.0-alpha3`, `v2.0.0-beta1`, or indeed `v2.0.0-RC1` soon?

[2015-01-25 09:33] storeman opened #36 "Breaking character in serialized closure"
As of the beta of version 2, there is a breaking character in the serialized closure when I store it in the database. It's hard to track, but it broke my insert-query. Because of this the serialized string was partially stored in the db. Weird enough it didn't break my query.

If I look at the serialized closure in the browser, there are a few breaking characters which translate to the html-tag &#

[2015-01-25 10:34] jeremeamia commented on #36
I believe you a running into an issue will null bytes. As explained in a note on the [PHP manual entry for `serialize()`](http://php.net/manual/en/function.serialize.php):

SuperClosure has never done anything to prevent those null bytes from being included in the serialized string. For example, if you serialize a closure that has an object with private members as one of it's context variables, yo

[2015-01-25 10:34] #36 closed

[2015-01-25 10:40] storeman commented on #36
That explains a lot. Thanks. I will definitely use base64 as this will prevent future issues in this area.

[2015-01-26 10:55] jeremeamia commented on #14
Including [this text](https://github.com/jeremeamia/super_closure/blob/3dc8543da9e182f93ce8d8f115a27633a5d32fa1/src/SerializableClosure.php#L66-L68) in the `SerializableClosure` class to call out this known problem.

[2015-01-26 10:55] #14 closed

[2015-01-26 10:56] jeremeamia commented on #17
A form of the code discussed hear will be a part of SuperClosure V2. See https://github.com/jeremeamia/super_closure/blob/3dc8543da9e182f93ce8d8f115a27633a5d32fa1/src/Serializer.php#L102-L138

[2015-01-26 10:56] #17 closed

[2015-03-10 09:02] assertchris opened #44 "__debugInfo fails after unserialize()"
`SerializableClosure::serialize()` does not account for `SerializerInterface $serializer = null`, in the constructor. If this parameter isn't provided then the default serializer, which the constructor creates, is not created during `SerializableClosure::unserialize()`.

[code]

[2015-03-11 14:02] travisulrich commented on #44
I also ran across this issue yesterday. `var_dump` works successfully on the serialized object, but `print_r` causes the error @assertchris mentioned above.

[2015-03-11 15:08] Anahkiasen commented on #44
Small reproducible test case:

[code]

[2015-03-11 17:59] GrahamCampbell commented on #44
@Anahkiasen Surely `$closure = unserialize(serialize($closure))->getClosure();` is the correct usage here?

[2015-03-11 19:04] #44 closed

[2015-03-11 19:05] jeremeamia commented on #44
Thanks for the bug report and repro code.

[2015-03-11 19:37] Anahkiasen commented on #44
@GrahamCampbell Not that I know of no, the SerializableClosure wraps the closure and is still callable, it's more like a decorator

[2015-03-14 02:53] assertchris opened #46 "[Proposal] Add bindTo support"
Hey friend!

I'm trying to change the binding of the decorated `Closure`, with much difficulty. It's private, so a subclass of `SerializableClosure` wont work. Would you be open to be adding `bindTo` support?

[2015-03-14 07:35] jeremeamia commented on #46
Possibly. Can you help me understand your use case a little more?

`SerializableClosure` does have a `getClosure()` method.

[2015-03-14 07:45] jeremeamia commented on #46
Adding something like this could work, right?

[code]

[2015-03-14 10:47] assertchris commented on #46
Yes, that is exactly what I was thinking!

It's not that it was impossible, but rather that I was repeating your
suggestion often...

On Saturday, 14 March 2015, Jeremy Lindblom <notifications@github.com>
wrote:

[2015-03-14 14:47] jeremeamia commented on #46
Does #47 look good?

[2015-03-15 09:08] Ocramius commented on #46
I still don't get the use-case (same applies to #47)

[2015-03-15 15:51] jeremeamia commented on #46
I think it's not strictly necessary, but If you look at `SerializableClosure` as Decorator of `Closure`, then adding `bindTo()` would complete the support of `Closure`'s "interface".

[2015-03-15 15:55] Ocramius commented on #46
I'm still wondering about the use-case, as no code should ever be written
without it :-P
On Mar 15, 2015 4:51 PM, "Jeremy Lindblom" <notifications@github.com> wrote:

[2015-03-15 16:32] assertchris commented on #46
The latest example of when I've needed to bind a SC to a new context:
[one](https://github.com/asyncphp/assistant/blob/ca2b76b63537f4ef960d7d1f8ef596a4196482ed/src/Adapter/Task.php#L33)...
[two](https://github.com/asyncphp/assistant/blob/ca2b76b63537f4ef960d7d1f8ef596a4196482ed/src/Adapter/Task.php#L61-L97)...
[three](https://github.com/asyncphp/assistant/blob/ca2b76b63537f4ef960d7d1f8ef596a419648

[2015-03-15 17:18] Ocramius commented on #46
This adds a new responsibility to SC tho, while what you're looking for is
something (in your codebase) that applies re-binding. No biggie, just not a
fan of adding utility methods, especially instance methods.
On Mar 15, 2015 5:32 PM, "Christopher Pitt" <notifications@github.com>
wrote:

[2015-03-15 17:23] assertchris commented on #46
The SC is just a decorator around Closure, which already does this. SC doesn't proxy the functionality though.

[2015-03-15 17:28] Ocramius commented on #46
It's an "envelope". Yeah, I guess treating this addition as a factory
method is kinda acceptable then :-P
On Mar 15, 2015 6:24 PM, "Christopher Pitt" <notifications@github.com>
wrote:

[2015-03-23 02:12] assertchris commented on #46
Fixed in https://github.com/jeremeamia/super_closure/pull/47

[2015-03-23 02:12] #46 closed

[2015-03-25 12:26] GrahamCampbell opened #50 "Serializing Anonymous Classes"
It looks like Phil's RFC to add anonymous classes is going to make it into php 7.0. I wonder if it would be possible for super closure to serialize anonymous classes too? I haven't looked into the fine details, but I'm just throwing this out there as a cool idea. Any thoughts?

[2015-03-25 12:37] Ocramius commented on #50
Since we have AST support in 7, it should be feasible, yep.

[2015-04-24 06:44] Remo opened #51 "fails to serialize Anahkiasen/polyglot"
I was having a problem with confide which seems to be caused by a combination of super_close and polyglot. Original report can be found here: https://github.com/Zizaco/confide/issues/522#issuecomment-95816730

I can easily reproduce this if I install https://github.com/Anahkiasen/polyglot and then run this code:

[code]

Which will show me `Serialization of 'Closure' is not allowed`

I like all th

[2015-04-24 07:08] Remo commented on #51
Okay it seems like it was fixed in version 2.. Any chance we can fix that for version 1 so that laravel 4.2 projects can use confide and polyglot too?

[2015-05-17 07:08] ddeath opened #54 "SuperClosure does not load php5 custom extensions"
Hi there I am using super_closure in Laravel4 and it looks like super_closure does not know my custom function in php5 installed via extension.

 PHP Fatal error:  Call to undefined function solve_simplex() in /var/www/my_site/vendor/jeremeamia/SuperClosure/src/Jeremeamia/SuperClosure/SerializableClosure.php(99) : eval()'d code on     line 2
    PHP Stack trace:
    PHP   1. {main}() /var/www/my_s

[2015-05-17 07:54] ddeath commented on #54
Sorry guys. I just solved that issue. The problem was that your code in laravel is invoking throught php artisan command what means that it is run on CLI and therefore my extension is not loaded. However if i run it like php -dextension=simplexSolver.so artisan ... then it is working.

[2015-05-17 07:54] #54 closed

[2015-05-20 19:02] jeremeamia commented on #50
They seem to already be serializable, akaik

[2015-05-21 15:07] jeremeamia opened #56 "Ideas - Just thinking out loud"
- Take a look at [Opis\Closure](https://github.com/opis/closure)
  - Uses stream wrapper to load code instead of eval(), allows for multiple (un)serializations.
  - Compare Token Parser logic
- See if we can determine if a closure is static with code parsing, instead of with [this awful function](https://github.com/jeremeamia/super_closure/blob/master/src/Analyzer/ClosureAnalyzer.php#L56-L61)
- Ne

[2015-05-22 12:05] lezhnev74 opened #57 "Serialization of closure failed"
Get this message when trying to serialize example:
$serializer1 = new SuperClosure\Serializer(null, $yourSecretSigningKey);
$data = $serializer1->serialize(function () {echo "Hello!\n";});

[code]

Is it trying to write to file without a permission?

[2015-05-22 15:25] jeremeamia commented on #57
Nope it's trying to read a file that is not a file. SuperClosure depends on being able to read the file that the code is contained it, because it needs to parse that code. This code seems to have originated from `eval()`, and is not in a file. There's not much I can do about that.

[2015-05-22 15:25] #57 closed

[2015-05-22 19:06] lezhnev74 commented on #57
Thanks, I'll try to resolve it myself.

[2015-06-13 20:48] low-ghost opened #59 "Serialization of 'Generator' is not allowed"
I get this error, obviously, while trying to serialize a generator instance. This might be a pretty rare use-case, but is there any support for serializing generators or a way around the issue? My source code is here https://github.com/low-ghost/PhpMultithread (subject to change), but the general idea is I'm using generators for coroutines that check conditions of external processes (allowing a ha

[2015-08-26 23:05] jeremeamia commented on #59
I've experimented with a few things, but so far my impression is that it's not possible. I can find no way to, starting with a instance of `Generator`, get the function that produced the generator. You can't shoot what you can't see.

[2015-09-11 00:56] low-ghost commented on #59
that makes sense. the more I thought about it the more impossible it sounded. Thanks for looking into it though!

[2015-09-11 00:56] #59 closed

[2015-10-06 19:47] lgalaz opened #64 "Congrats"
Sorry, didn't know where else to leave the message and I was just about to get going but wanted to leave my comment since I thought it useful for the Readme.

I think one of the most basic and common use cases for your "super closures" is refactoring out switch statements or multiple if/elses. This is easily done with polymorphism, but what about the associative arrays/hashmap solution? which is s

[2015-10-06 20:10] Ocramius commented on #64
What advantage would you be getting by serializing data here?

[2015-10-06 21:45] lgalaz commented on #64
Well, in my precise example, nothing.
Cause I was just going for the current refactor in my code that led me to the "closures-serialization, issue in PHP" (replace "switch(e) {case: case: default: } | if() esleif() elseif() else" with a "map".)
But, passing on lamdas to maps is something very common that will very likely span out of a scope.  (Think, "composition over inheritance" Strategy, Decora

[2015-10-07 09:27] Ocramius commented on #64
And... what does that have to do with superclosure?
On Oct 6, 2015 18:46, "lgalaz" <notifications@github.com> wrote:

[2015-10-07 16:53] lgalaz commented on #64
Whatever.

Maybe you have not noticed that when passing args between functions, they must be serializable.

I just wanted to mention something I thought useful and compliment you on your code. I regret trying to expose what I thought a very common use case.

[2015-10-07 16:59] jeremeamia commented on #64
@Igalaz I'm glad you found it useful. I think what you are highlighting is similar to how some people have used SuperClosure to serialize things like Pimple containers.

[2015-10-07 17:39] Ocramius commented on #64
Eh, that's what I mean: they don't need to be (in the same address space and non-multithreaded contexts) :-|

[2015-10-07 17:41] lgalaz commented on #64
I stated at the beginning that not having them in the same address space was a constraint.

any way. thats it for me.

[2015-10-25 16:05] bemyguestmichael opened #65 "email queue exception 'ErrorException' with message 'Undefined variable: event'"
I'm trying to do an email queue through an event handler and I'm getting exception **'ErrorException' with message 'Undefined variable: event' in /vendor/jeremeamia/SuperClosure/src/SerializableClosure.php(153) : eval()'d code:2** below is the sample code

[code]

[2015-10-25 16:08] #65 closed

[2015-10-25 16:08] GrahamCampbell commented on #65
Not a bug. Change `function ($message) {` to `function ($message) use ($event) {` :)

[2015-10-25 16:09] GrahamCampbell commented on #65
If event is an object, you may even want to actually pass through just the email rather than the whole event.

[2015-10-26 03:30] bemyguestmichael commented on #65
Oh I see. Thanks @GrahamCampbell

[2015-10-28 19:52] #51 closed

[2015-10-28 19:53] GrahamCampbell commented on #51
Laravel 4.2 is not supported I'm afraid. If it was, I'd make sure laravel 4.2 allowed upgrading to the new super closure. I'd recommend upgrading to Laravel 5.1 since it's LTS and uses the newest version of super closure.

[2015-11-04 21:35] GrahamCampbell commented on #56
LOL. That function just got worse in order to make it work on PHP 7.

[2015-11-04 23:10] GrahamCampbell opened #72 "Release 2.2.0"
I think we're ready to release 2,2,0 now @jeremeamia. There are two things potentially stopping us though:

1. https://github.com/jeremeamia/super_closure/pull/53 might need reviewing first.
2. You might want to wait for the final PHP 7.0.0 release before we say that 2.2.0 is 100% PHP 7 compatible.

[2015-11-04 23:12] jeremeamia commented on #72
Yeah, I need to review that one and finish my open PRs. Let's wait for the 7 stable release. That will hopefully give me time.

[2015-11-04 23:15] GrahamCampbell commented on #72
Nice. The stable PHP release is just under 2 weeks away as far as I know.

[2015-11-11 21:15] #64 closed

[2015-11-11 21:16] jeremeamia commented on #59
Might be possible in PHP 7: http://php.net/manual/en/class.reflectiongenerator.php

[2015-11-11 22:02] GrahamCampbell commented on #59
Very cool. Maybe we should reopen this until one of us can properly investigate this?

[2015-11-11 22:04] Ocramius commented on #59
From what I saw initially, this is not possible without a debugger being active, as it is not possible to keep the state of scope variables.

[2015-11-11 22:04] GrahamCampbell commented on #59
Right. Thanks @Ocramius. :)

[2015-11-16 16:52] GrahamCampbell commented on #72
Ping @jeremeamia.

[2015-11-26 21:47] GrahamCampbell commented on #72
Ping @jeremeamia.

[2015-12-04 16:39] jfsalzmann opened #74 "self:: usage throws error when unserializing"
I recently started using your Super Closure PHP module in our Yii 1.1 framework when implementing a worker queue. I got a problem there when I used self:: in the closures I want to serialize. In the moment the unserialized closure is called, I get a fatal PHP error:

Let me provide some information: the closure passed looks like

[code]

This is how I unserialize and run the closure:

[code]

The

[2015-12-04 16:40] GrahamCampbell commented on #74
I think it's maybe best if you just call `$this->_sendNotifications`?

[2015-12-04 16:40] GrahamCampbell commented on #74
At least for now.

[2015-12-04 16:42] joffdd commented on #74
Thanks @GrahamCampbell, I hard coded the class name so it's working for me right now, but I think this is something which you may want to solve one day anyway.

[2015-12-04 16:43] GrahamCampbell commented on #74
Agreed. ;)

[2015-12-05 17:03] jeremeamia commented on #74
Yeah, I need to look into fixing this for sure.

[2015-12-05 17:04] GrahamCampbell opened #78 "Failing on HHVM"
[code]

[2015-12-05 17:10] jeremeamia commented on #78
HHVM, you cray.

[2015-12-05 17:12] GrahamCampbell commented on #78
I'm going to pull this down onto my machine and try on the latest HHVM release and see if it's still an issue there (or if there are even more issues, lol).

[2015-12-05 17:13] #78 closed

[2015-12-05 17:13] GrahamCampbell commented on #78
[code]

Passes!

[2015-12-05 17:13] GrahamCampbell commented on #78
[code]

[2015-12-05 17:13] GrahamCampbell commented on #78
I guess we just need to wait for travis to update.

[2015-12-05 17:14] jeremeamia commented on #78
`¯\_(ツ)_/¯`

[2015-12-05 17:14] GrahamCampbell commented on #72
I think we're ready now

[2015-12-05 17:14] GrahamCampbell commented on #72
:ship: :ship: :ship: :ship: :ship: :ship: :ship: :ship: :ship: :ship: :ship: :ship: :ship: :ship:

[2015-12-05 17:15] jeremeamia commented on #72
Wahooooooooo!!!

[2015-12-05 17:15] GrahamCampbell commented on #72
Oh, one tiny thing left...

[2015-12-05 17:15] GrahamCampbell commented on #72
https://github.com/jeremeamia/super_closure/pull/79

[2015-12-05 17:18] jeremeamia commented on #72
I gotta head to the airport in about an hour, but I'll write up the release notes and tag it once I get there. Alternatively, you may do this, if you like. I'll just want to review the release notes. I'll check back on this ticket in a couple of hours.

[2015-12-05 17:19] GrahamCampbell commented on #72
Probably best to leave that to you.

Going anywhere nice?

[2015-12-05 17:23] jeremeamia commented on #72
Home! :smile:

We just moved from Seattle, Washington (the rainy place), to Phoenix, Arizona (the sunny place). I flew back up to Seattle to supervise the movers getting everything loaded on the truck and run some _very_ last minute errands. Headed back to Arizona now, where I will live out the remainder of my days.

My wife and I are originally from there, so it's home for us, and is near both of

[2015-12-05 17:24] GrahamCampbell commented on #72
Awesome! Have fun. :)

[2015-12-07 19:49] jfsalzmann opened #80 "Namespace issue"
Hello again, I'm unfortunately facing another issue. PHP 5.4.16, Yii Framework 1.1

[code]

The namespace of the class from where the closure has been serialized is something like `\backend\controllers\AppCheckInsController` - looking how both AstAnalyzer and TokenAnalyzer are storing the binding information, this information is getting lost:

[code]

(essentially looking at this part:)

[code]

I

[2015-12-09 09:46] albeva opened #81 ""Serialize" to javascript?"
I was wondering - since you tokenize the closure and make sense of it in serialized form - is it perhaps possible to "compile" this to javascript closure?

[2015-12-10 16:36] skovmand commented on #74
+1

I use a callback in Laravel 5.1 for attaching sender name and e-mail to the e-mails sent:

[code]

[code]

Recently all my queued jobs started failing with an error from ```vendor/jeremeamia/SuperClosure/src/SerializableClosure.php:210```. The exception message is ```Cannot access self:: when no class scope is active```.

Changing the ```self::fromEmail``` to an instance variable, e.g. ```$thi

[2015-12-10 16:39] GrahamCampbell commented on #74
Alternatively, you could use a callable instead of a closure, and avoid this issue, I think...

[2016-01-11 21:51] claar commented on #74
Same issue, this was really a pain to track down -- this issue began when I upgraded from 2.1.0 to 2.2.0.

[2016-01-19 05:20] jeremeamia commented on #74
@jfsalzmann @skovmand @claar I'd like to fix this issue, but I cannot reproduce it. Can someone send a PR with a test case in [`/tests/Integ/SerializationTest.php`](https://github.com/jeremeamia/super_closure/blob/master/tests/Integ/SerializationTest.php) that causes a failure?

For example, I added the following test case (but it worked fine):

In `SerializationTest.php`:
[code]

And here is the

[2016-01-19 05:21] jeremeamia commented on #81
Not in this library. LOL. That would be cool though. Transpiling to Javascript is very much out of scope for SuperClosure.

[2016-01-19 05:21] #81 closed

[2016-01-19 05:22] #72 closed

[2016-01-19 05:27] jeremeamia commented on #80
It seems from this error that the `AppCheckInsController` class is not autoload-able from the context where you are unserializing the closure.

Things to check:
- Is `AppCheckInsController` the right class name? Or is it supposed to have a namespace as well?
- Does it seem like `AppCheckInsController` should be able to be loaded from where you are unserializing the closure? You may need to do some

[2016-01-19 05:29] jeremeamia commented on #80
@jfsalzmann Also, I apologize for not responding sooner. Holidays + new job + health problems = no time.

[2016-05-04 07:39] kjmtrue opened #83 "Error when using Zend Guard"
Hi,

I'm using Laravel and Zend Guard 7 to encode my project.

But I alway receiver error "Serialization of closure failed: The closure was not found within the abstract syntax tree."

Can you help me fix it.

Thank you.

[2016-05-05 20:41] magnusstubman opened #84 "Note"
Not really a issue, however I would just like to point out that all POI (Php Object Injection) vulns are much easier to exploit if serialization and unserialization of closures is possible in native PHP.

[2016-05-05 21:10] GrahamCampbell commented on #84
Just be wise when using user input. We also support encryption so we can avoid unserializing bad inputs. ;)

[2016-05-05 21:13] GrahamCampbell commented on #84
I of course meant signing, not encryption. I was thinking of Laravel's wrapper. ;)

[2016-05-08 14:52] cursedcoder opened #85 "Bug with EventEmitter?"
Hi,

see this gist https://gist.github.com/cursedcoder/b1c3c1d90e4f81eaf36a4a1b1c3831ba

`Serialization of closure failed: Serialization of 'Closure' is not allowed`

[2016-05-08 15:25] GrahamCampbell commented on #85
You need to actually serialize the closure itself, not just an object with a closure as a property? Does that make sense?

[2016-05-08 15:26] cursedcoder commented on #85
I would like to serialize object and its closures actually

[2016-05-08 15:36] GrahamCampbell commented on #85
Right, well you'd need to make some code yourself that walked down the properties and serialize them with super closure. We don't do that automatically. We only serialize actual closures as an input.

[2016-05-08 15:37] cursedcoder commented on #85
Makes sense.

[2016-05-08 15:37] #85 closed

[2016-05-09 10:17] magnusstubman commented on #84
Sounds good, please consider making signing default, such that users have to opt-out instead of out-in.

[2016-05-09 10:17] #84 closed

[2016-06-16 23:31] tallcoder commented on #54
I'm having the same issue in a homestead env ... and that's not working. Lib doesn't exist.

[2016-06-28 05:08] divostar opened #86 "Cannot instantiate interface PhpParser\Parser"
Hello Jeremeamia, I notice an issue with version 2.2.0 of your project. The function below wouldn't work

[code]
With version v2.1.0  of nikic/php-parser, Parser is no longer a class but an interface and so it cannot be instantiated. We now have `class Multiple implements Parser {     }`.

For a work around, either do a

1. `use PhpParser\Parser\Multiple as CodeParser;`
or
2. Bind the Parser inter

[2016-06-28 05:13] jeremeamia commented on #86
Thanks. I'll take a look at it when I have time. That may be a couple months from now though, so feel free to send a PR if you have time.

[2016-06-28 05:32] divostar commented on #86
Okay

[2016-06-28 07:57] GrahamCampbell commented on #86
We can just do the same as what class preloader has done?

[2016-06-28 07:59] GrahamCampbell commented on #86
Wait, our code already does this. How come this is nor working for you. That code never gets called on 2.x?

[2016-06-28 08:00] GrahamCampbell commented on #86
Our code looks like this:

[code]

The bottom line is only ever called on php parser 1.x.

[2016-06-28 08:01] GrahamCampbell commented on #86
Are you noticing this issue due to a static analzyer, or due to it actually happening?

[2016-06-28 09:09] divostar commented on #86
I am experiencing the issue with nikic/php-parser v2.1.0 and jeremeamia/SuperClosure 2.2.0 on my production server but not on my development server (which is weird).  For a quick fix in my production server, I had to use v1.4.1 of php parser. Out of curiosity, I tested SuperClosure 2.2.0 and php-parser v2.1.0 on another project on thesame production server and wasn't getting the exception. When I

[2016-06-28 09:14] GrahamCampbell commented on #86
DId you restart/reload php-fpm after deploying?

[2016-06-28 09:14] GrahamCampbell commented on #86
It looks like you just have stale caches on the productyion server.

[2016-06-28 09:20] divostar commented on #86
Let me reload and see what I get.

[2016-08-23 13:10] storeman opened #88 "PHP5: Cannot bind an instance to a static closure"
When serializing anonymous functions, PHP throws an exception:
"Cannot bind an instance to a static closure"

This is a PHP error in the ClosureAnalyzer::isClosureStatic::58 and is caused by this line:

`$closure = @$closure->bindTo(new \stdClass);`

By removing this line and the following 4. The problem is resolved.

In PHP7, this is not an issue by the way, so a version check could be useful. It

[2016-08-26 14:32] jeremeamia commented on #88
See discussions on #89 for the root cause.

[2016-09-03 07:42] oriceon commented on #83
Have same issue but only in encoded files... Any ideea how to fix that? Thanks!

[2016-09-06 19:13] jeremeamia commented on #83
SuperClosure is likely not compatible with Zend Guard. SuperClosure has to parse the source code in order to perform the serialization. If it's trying to read the encoded source, which I suspect it is, then it would fail.

[2016-09-07 07:59] GrahamCampbell commented on #83
Yeh. I'd say this is a no-fix.

[2016-09-16 12:51] #86 closed

[2016-09-23 18:24] #83 closed

[2016-09-26 16:53] oriceon commented on #83
Ok, thanks for answer. I`ve made a non-encoded helper-file.php that contain only one function that send mails and call that function in other encoded files. Works ok.

[2016-09-26 17:01] jeremeamia commented on #83
Gotcha. That makes sense then. Thanks for letting us know. I should probably add this a FAQ in the readme or something.

[2016-09-26 19:05] GrahamCampbell commented on #83
👍

[2016-11-02 19:38] jeremeamia commented on #80
Closing due to age

[2016-11-02 19:38] #80 closed

[2016-12-01 15:33] #88 closed

[2016-12-13 22:44] vladqa commented on #50
@jeremeamia, can you explain, how can I serialize anonymous class code?

[2016-12-13 23:07] jeremeamia commented on #50
I was wrong when I posted [this](https://github.com/jeremeamia/super_closure/issues/50#issuecomment-103996984). However, serializing anonymous classes was never the intention of this library. I think I remember a discussion about what makes it particularly challenging, but now I can't find it. Without thinking about it in depth, I can't remember. AFAIK, it's not possible.

[2016-12-13 23:28] GrahamCampbell commented on #50
Opening again so we can at least add a note to the readme. ;)

[2017-01-15 21:34] yceruto opened #94 "Serialization of 'Closure' is not allowed"
Hi, first thank you for this awesome library!

I've a problem serializing this context:
[code]
It could happen in `$this` context too. Any suggestion?

[2017-01-15 22:55] GrahamCampbell commented on #94
This is because you cannot use closures as variables to bind to closures. Could be messy for us to try to serialize those too. Feel free to try to implement that and let us know how you get on. Alternatively, @jeremeamia might know more on this subject. I don't know if implementing that is something already considered, but decided against?

[2017-01-15 23:36] yceruto commented on #94
@GrahamCampbell

 I've displayed only a sample of the real context. I'm using this into a Symfony controller and I can't use `$this` for instance, because it contains objects/dependencies with similar situation. Also, these instances/objects are initialized by the framework/third-party.

[2017-01-16 03:45] jeremeamia commented on #94
You could try `Serializer::wrapClosures()`. It's not battle-tested, but it's intent is that you can throw anything at it, and it will attempt to wrap all the closures inside to be serializeable. Any objects nested inside are hopefully serializable in their own right.

[2017-01-16 13:10] yceruto commented on #94
@jeremeamia Thank you, I'll try this.

[2017-01-26 13:34] ukoms opened #95 "runing composer update on php 7 gives errors with Closure Analyser"
I'm on Laravel 5.2. I switched from php56 to php70 because of requirements. After running `composer install` I got error like below:

`composer install -v`
`Loading composer repositories with package information`
`Installing dependencies (including require-dev) from lock file`
`Dependency resolution completed in 0.004 seconds`
`Analyzed 206 packages to resolve dependencies`
`Analyzed 572 rules to

[2017-01-27 00:22] GrahamCampbell commented on #95
You'll need Laravel 5.3 or 5.4 for full PHP 7.0 support.

[2017-01-27 00:22] #95 closed

[2017-04-12 19:53] vladyslavstartsev opened #96 "Gitter chat link"
![](http://dl3.joxi.net/drive/2017/04/12/0015/2269/1046749/49/481437b994.jpg)
the icon to gitter chat is broken

[2017-04-12 19:54] GrahamCampbell commented on #96
Thanks for the report. How does https://github.com/jeremeamia/super_closure/pull/97 look? :)

[2017-04-13 14:40] #96 closed

[2017-05-29 17:22] #94 closed

[2017-07-02 19:09] salojc2006 opened #100 "Nested closures not working."
Nested closures not working... First works but the nestes does not.
Inspired on your work I created my own serializable closure, take a look here:
https://github.com/salojc2006/Webos/blob/master/src/Webos/Closure.php

Bellow a test code to understand the issue:
[code]

I hope my little contribution be helpful for you

[2017-12-13 23:41] kelunik opened #101 "Why do serialization errors not throw?"
https://github.com/jeremeamia/super_closure/blob/f57f48cb328552f6af7c4ad61f51b35a4237b546/src/SerializableClosure.php#L114-L120

The above says it can't throw, but [my small test shows it's possible](https://3v4l.org/mQ5E0). Am I missing something?

[2017-12-14 00:32] jeremeamia commented on #101
Possibly a legacy thing. Look at your output for [5.3.0](https://3v4l.org/mQ5E0#v530).
Also, this is a weird note in the [PHP docs](http://php.net/manual/en/serializable.serialize.php#refsect1-serializable.serialize-errors)
It's possible that it could safely be removed. :man_shrugging:

[2017-12-14 06:47] kelunik commented on #101
Even there, PHP just chains an internal exception internally. https://3v4l.org/ZaLYA

Would you accept a PR or would that be a BC break? If it is considered a BC break we'll just go ahead and use a throwing error handler.

[2018-02-04 19:19] mpyw opened #103 "Superclosure is now removed from Laravel"
As of 5.4

[Initial work cleaning up Mail component. · laravel/framework@50ab994](https://github.com/laravel/framework/commit/50ab994b5b9c2675eb6cc24412672df5aefd248c)

[2018-02-04 23:54] #103 closed

[2018-02-04 23:55] GrahamCampbell commented on #103
Was still used by laravel though. I think it's fine to include this, or say 5.1 LTS.

[2018-03-22 21:38] mahkali opened #106 "migration class not found"

[2018-03-22 21:39] #106 closed

[2018-12-25 19:55] jmichaelterenin opened #110 "Will this still work in Laravel 5.7"
I'm including code in my queue job that has multiple closures, and it would be drastic/significant work to change all the logic. Is requiring the package in Laravel 5.7 all that is necessary, or is there something more that needs to be done, as I am getting the expected:
Serialization of 'Closure' is not allowed: line 138 of C:\xampp\htdocs\explore\vendor\laravel\framework\src\Illuminate\Queue\Que

[2018-12-25 22:54] GrahamCampbell commented on #110
Thanks for the question. For some background, Laravel 4.0.8-5.3.31 used to use this library to enable serializing closures as part of the mail system, but this feature was removed in Laravel 5.4.0, to allow for removing php-parser from the core framework dependencies. So, the old closure serialization mechanism in Laravel no longer will work.

So, in Laravel 5.4, a new mail paradigm was introduced

[2018-12-25 23:07] #110 closed

[2019-08-05 15:01] arokettu opened #112 "Arrow functions serialization"
It would be nice to have it at 7.4 final release

https://wiki.php.net/rfc/arrow_functions

[code]

Expected: serialized closure
Actual result: `ClosureAnalysisException: The closure was not found within the abstract syntax tree`

[2019-08-05 15:18] sandfoxme commented on #112
Ok, it might be an insanity due to implicit use() :(

[2019-12-01 00:08] #50 closed

[2019-12-19 04:58] zwfec opened #113 "erialization of closure failed: The closure was not found within the abstract syntax tree.'"
php environment: php7.3.12

PHP User Notice 'yii\base\ErrorException' with message 'Serialization of closure failed: The closure was not found within the abstract syntax tree.'
​
 echo $x ?? '111';

super_closure don't suport ?? syntax

change:
opcache.enable_cli=1
to:
opcache.enable_cli=0

[2019-12-19 10:28] GrahamCampbell commented on #113
Thanks for the report. Are you saying turning off opcache on the cli fixed things?

[2020-03-26 05:57] b1rdex commented on #112
Any thoughts on this? Php 7.4 is live, just stumbled upon this issue using PHP-DI compiled container (https://github.com/PHP-DI/PHP-DI/issues/706).

[2020-03-26 13:51] arokettu commented on #112
@b1rdex If I remember correctly, the fix for PHP-DI is trivial and I even managed to make it work sort of, but super_closure is not only a PHP-DI backend and it should serialize variables in use() statement. This was the problem when I got stuck

[2020-03-27 01:44] b1rdex commented on #112
@arokettu could you please share the fix for arrow functions without use()? It'd be better than nothing.

[2020-03-27 14:03] arokettu commented on #112
@b1rdex just replace this check

https://github.com/jeremeamia/super_closure/blob/5707d5821b30b9a07acfb4d76949784aaa0e9ce9/src/Analyzer/Visitor/ClosureLocatorVisitor.php#L72

with ``$node instanceof ClosureNode || $node instanceof ArrowFunctionNode`` and it will work except for $uses warning

[2020-03-27 14:05] arokettu commented on #112
This is a full file with the change, sorry, don't have it in git

https://gist.github.com/arokettu/aac75ac809577b83b16d2583587c5af6

[2020-04-02 05:45] jeremeamia commented on #113
This software is no longer maintained. Consider using [opis/closure][https://github.com/opis/closure] instead.

[2020-04-02 05:45] #113 closed

[2020-04-02 05:45] jeremeamia commented on #112
This software is no longer maintained. Consider using [opis/closure](https://github.com/opis/closure) instead. I believe they have added short function support.

[2020-04-02 05:45] #112 closed

[2020-04-02 05:46] jeremeamia commented on #101
This software is no longer maintained. Consider using [opis/closure](https://github.com/opis/closure) instead.

[2020-04-02 05:46] #101 closed

[2020-04-02 05:46] jeremeamia commented on #100
This software is no longer maintained. Consider using [opis/closure](https://github.com/opis/closure) instead.

[2020-04-02 05:46] #100 closed

[2020-04-02 05:47] jeremeamia commented on #74
This software is no longer maintained. Consider using [opis/closure](https://github.com/opis/closure) instead.

[2020-04-02 05:47] #74 closed

[2020-04-02 05:47] #56 closed

[2020-04-02 05:58] b1rdex commented on #112
@jeremeamia yes you're right. Here is the implementation: https://github.com/opis/closure/commit/86fc51fce952567570e0629a22981665be02e7ff

[2020-04-02 06:02] kelunik commented on #101
[We already do](https://github.com/amphp/parallel-functions/blob/master/composer.json), thanks!